@font-face {
    font-family: LiberationSerif;
    src: url(LiberationSerif/LiberationSerif-Regular.ttf);
}

h1 {
	color: black;
	font-family: LiberationSerif;
	font-size: 20.0pt;
	font-weight: normal;
}
p {
	color: black;
	font-family: "Liberation Serif",serif;
	font-size: 14.0pt;
	font-size: normal;
}

table {
	color: black;
	font-family: "Liberation Serif",serif;
	font-size: 14.0pt;
	font-size: normal;
	border: 4pt solid black;
	border-collapse: collapse;
	border-spacing: 0px;
	padding: 0px;
}

th {
	color: black;
	font-family: "Liberation Serif",serif;
	font-size: 14.0pt;
	font-size: normal;
	vertical-align: top;
	border: 1.0pt solid windowtext;
	border-collapse: collapse;
	border-spacing: 0pt;
	padding: 0pt;
}

td {
	color: black;
	font-family: "Liberation Serif",serif;
	font-size: 14.0pt;
	font-size: normal;
	vertical-align: top;
	border: 1.0pt solid windowtext;
	border-collapse: collapse;
	border-spacing: 0pt;
	padding-left: 5pt;
	padding-bottom: 7pt;
	padding-right: 30pt
}

ul {
	list-style-type: disc;
	color: black;
	font-family: "Liberation Serif",serif;
	font-size: 14.0pt;
	font-size: normal;
}